<aside id="sidebar" class="js-custom-scroll side-nav">
    <ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-0">
        <!-- Title -->
        <li class="sidebar-heading h6">Dashboard</li>
        <!-- End Title -->

        <!-- Dashboard -->
        <li class="side-nav-menu-item {% if this.page.id == 'home' %}active{% endif %}">
            <a class="side-nav-menu-link media align-items-center" href="{{ 'home' | page }}">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-dashboard"></i>
              </span>
                <span class="side-nav-fadeout-on-closed media-body">Dashboard</span>
            </a>
        </li>
        <!-- End Dashboard -->

        <!-- Documentation -->
        <li class="side-nav-menu-item">
            <a class="side-nav-menu-link media align-items-center" href="https://graindashboard.com/documentation/" target="_blank">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-file"></i>
              </span>
                <span class="side-nav-fadeout-on-closed media-body">Documentation</span>
            </a>
        </li>
        <!-- End Documentation -->

        <!-- Title -->
        <li class="sidebar-heading h6">Examples</li>
        <!-- End Title -->

        <!-- Users -->
        <li class="side-nav-menu-item side-nav-has-menu {% if this.page.id == 'users' or this.page.id == 'create-user' %}active side-nav-opened{% endif %}">
            <a class="side-nav-menu-link media align-items-center" href="#"
               data-target="#subUsers">
                  <span class="side-nav-menu-icon d-flex mr-3">
                    <i class="gd-user"></i>
                  </span>
                <span class="side-nav-fadeout-on-closed media-body">Users</span>
                <span class="side-nav-control-icon d-flex">
                <i class="gd-angle-right side-nav-fadeout-on-closed"></i>
              </span>
                <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
            </a>

            <!-- Users: subUsers -->
            <ul id="subUsers" class="side-nav-menu side-nav-menu-second-level mb-0">
                <li class="side-nav-menu-item {% if this.page.id == 'users' %}active{% endif %}">
                    <a class="side-nav-menu-link" href="{{ 'users' | page }}">All Users</a>
                </li>
                <li class="side-nav-menu-item {% if this.page.id == 'create-user' %}active{% endif %}">
                    <a class="side-nav-menu-link" href="{{ 'create-user' | page }}">Add new</a>
                </li>
            </ul>
            <!-- End Users: subUsers -->
        </li>
        <!-- End Users -->

        <!-- Authentication -->
        <li class="side-nav-menu-item side-nav-has-menu">
            <a class="side-nav-menu-link media align-items-center" href="#"
               data-target="#subPages">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-lock"></i>
              </span>
                <span class="side-nav-fadeout-on-closed media-body">Authentication</span>
                <span class="side-nav-control-icon d-flex">
                <i class="gd-angle-right side-nav-fadeout-on-closed"></i>
              </span>
                <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
            </a>

            <!-- Pages: subPages -->
            <ul id="subPages" class="side-nav-menu side-nav-menu-second-level mb-0">
                <li class="side-nav-menu-item">
                    <a class="side-nav-menu-link" href="{{ 'login' | page }}">Login</a>
                </li>
                <li class="side-nav-menu-item">
                    <a class="side-nav-menu-link" href="{{ 'register' | page }}">Register</a>
                </li>
                <li class="side-nav-menu-item">
                    <a class="side-nav-menu-link" href="{{ 'password-reset' | page }}">Forgot Password</a>
                </li>
                <li class="side-nav-menu-item">
                    <a class="side-nav-menu-link" href="{{ 'password-reset-2' | page }}">Forgot Password 2</a>
                </li>
                <li class="side-nav-menu-item">
                    <a class="side-nav-menu-link" href="{{ 'email-verification' | page }}">Email Verification</a>
                </li>
            </ul>
            <!-- End Pages: subPages -->
        </li>
        <!-- End Authentication -->

        <!-- Settings -->
        <li class="side-nav-menu-item {% if this.page.id == 'settings' %}active{% endif %}">
            <a class="side-nav-menu-link media align-items-center" href="{{ 'settings' | page }}">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-settings"></i>
              </span>
                <span class="side-nav-fadeout-on-closed media-body">Settings</span>
            </a>
        </li>
        <!-- End Settings -->
    </ul>
</aside>
