/*------------------------------------
  File for your custom SCSS style
------------------------------------*/

.image {
    &:hover {
        border-color: $primary;
        color: $white;
        opacity: .5;
    }
}
